.venv/
venv/
env/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Логи
*.log
logs/
*.sqlite3

*.env
*.env.*
.envrc

# macOS
.DS_Store
.AppleDouble
.LSOverride

.vscode/

.idea/

.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
.pyre/

build/
dist/
*.egg-info/
*.egg
.eggs/

*.db
*.db-wal
*.db-shm
*.db-journal
